@import "main_settings";
html{
    font-family: $primaryfont;
}
body{
    font-family: $primaryfont;
    margin:0;
}
#side-pane{
  background-image: -moz-linear-gradient( 171deg, rgb(165,34,34) 25%, rgb(184,36,36) 62%, rgb(203,38,38) 100%);
  background-image: -webkit-linear-gradient( 171deg, rgb(165,34,34) 25%, rgb(184,36,36) 62%, rgb(203,38,38) 100%);
  background-image: -ms-linear-gradient( 171deg, rgb(165,34,34) 25%, rgb(184,36,36) 62%, rgb(203,38,38) 100%);
  opacity: 0.902;
  position: absolute;
  left: 0px;
  top: -1px;
  width: 304px;
  height: 769px;
  z-index: 6;
}
#blast-text{
    font-weight:800;
    font-size:4rem;
    margin-top:30%;
}
.logo{
    
    position: absolute;
    margin-left:-6rem;
    top:32rem;
    z-index:7;
    img{
    height:6rem;
    width:6.7rem; 
    }
    p{
        font-size:1.5rem;
        margin-left: -1rem;
        color:darkgray;
    }
}
//#logo-blast{
//    
//}